.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  padding: 10px 20px;
}

.App-nav {
  display: flex;
  justify-content: space-between;
}

.App-nav a {
  color: white;
  text-decoration: none;
}

.nav-logo {
  font-size: large;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
