.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  max-width: 1000px;
  margin: auto;
}

.App-nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: darkgray;
}

.nav-link {
  margin-left: 2rem;
}

.App-nav a {
  color: white;
  text-decoration: none;
}

.nav-logo {
  font-size: large;
  margin-right: auto;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
